.Cabecalho{

display: flex;
justify-content:left;
flex-direction: row;
color: #ffffff;


    .itens{
        display: flex;
        color: #fff;
        background-color: #000;
        height: 100px;
        width: 100%;
        align-items: center;
        gap: 40px;

        img{
            height: 50px;
            width: 50px;
            margin-left: 30px;
        
        }

        h1{
        font: 700 22px "Roboto";

        }
    }

}