.Cabecalho{
    width: 100%;
    background-color: #000;
    .itens{
        display: flex;
        color: #fff;
        height: 100px;
        align-items: center;
        gap: 40px;
        background-color: #000;
        img{
            height: 50px;
            width: 50px;
            margin-left: 30px;
        }

        h1{
        font: 700 22px "Roboto";

        }
    }

}